.main {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .card{
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;

  }

  td, th {
    border: 1px solid #ccc;
    padding: 10px;
  }

  th {
    background: #EFEFEF;
  }

  tr:first-child th {
    border-top: 5px solid #005ab3;
  }

  tr:first-child td {
    border-top: 5px solid #ccc;
  }

}


.parent {
  overflow: hidden;
  margin-right: -20px;
}

.child1 {
  float: left;
  width: 30%;
}

.child2 {
  float: left;
  width: 190px;
  margin-right: 20px;
}
