<div class="main">
  <ng-container *ngIf="lock">
    <h2>本登録の前に、設定からユーザ情報の設定をしてください。</h2>
  </ng-container>
  <ng-container *ngIf="type === 1">
    <h1>初期審査中</h1>
    <br>
    <br>
    <p><b>審査には時間がかかる可能性があります。</b></p>
    <p><b>2ヶ月以上経っても審査中が終わらない場合は、サポートにて連絡してください。</b></p>
  </ng-container>
  <ng-container *ngIf="type === 2">
    <h1>審査中</h1>
    <br>
    <br>
    <p><b>審査には時間がかかる可能性があります。</b></p>
    <p><b>2ヶ月以上経っても審査中が終わらない場合は、サポートにて連絡してください。</b></p>
  </ng-container>
  <ng-container *ngIf="type === 3">
    <h1>開通作業中</h1>
    <br>
    <br>
    <p><b>開通作業の際に、ネットワーク構成によってはかなり時間がかかる可能性があります。</b></p>
    <p><b>構成内容によって、1ヶ月以上かかる可能性があります。</b></p>
  </ng-container>
</div>
