<ng-container *ngIf="loading">
  <div class="main">
    <h1>Loading...</h1>
    <br>
    <br>
    <p><b>It may take some time.</b></p>
  </div>
</ng-container>

<ng-container>
  <div class="main">
    <h1>追加申請手続き</h1>
    <mat-tab-group>
      <mat-tab label="拠点追加">
        <p>拠点追加につきましてはこちらのフォームをご利用ください。</p>
        <br>
      </mat-tab>
      <mat-tab label="IPアドレス追加割当">
        <p>IPアドレスの追加割当につきましては、こちらのフォームをご利用ください。</p>
        <p>利用状況、用途によりましては、追加割当に応じることができない可能性がありますが、ご了承ください。</p>
        <br>
      </mat-tab>
      <mat-tab label="メンテナンス申告">
        <p>拠点のメンテナンスの申告はこちらのフォームをご利用ください。</p>
        <br>
      </mat-tab>
      <mat-tab label="その他">
        <br>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
