<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step>
    <ng-template matStepLabel i18n="@@user_registration">Notes</ng-template>
    <mat-label>ご利用にあたっては当団体のプライバシーポリシーと会則に同意いただく必要がございます。</mat-label>
    <br>
    <br>
    <mat-label>会則：https://www.homenoc.ad.jp/rules/</mat-label>
    <br>
    <mat-label>プライバシーポリシー：https://www.homenoc.ad.jp/rules/privacy/</mat-label>
    <br>
    <br>
    <div>
      <button mat-button matStepperNext i18n="@@next">Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="mailFormGroup">
    <form [formGroup]="mailFormGroup">
      <ng-template matStepLabel i18n="@@user_registration">Register Account</ng-template>
      <mat-label>日本人の方は日本語と英語の両方でお名前を入力してください。</mat-label>
      <br>
      <mat-label>If you are not Japanese, please enter only your English name.</mat-label>
      <br>
      <mat-form-field>
        <mat-label>E-Mail Address</mat-label>
        <input matInput placeholder="support@homenoc.ad.jp" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>ex）test@homenoc.ad.jp</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Your Name(Japanese full name)</mat-label>
        <input matInput placeholder="ex)米田 悠人" [formControl]="name" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>ex）米田 悠人</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Your Name(English full name)</mat-label>
        <input matInput placeholder="ex)Yuto Yoneda" [formControl]="nameEn" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>ex）Yuto Yoneda</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>ex）password123#</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide2 ? 'passwordVerify' : 'text'" [formControl]="passwordVerify" required>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>ex）password123#</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious i18n="@@prev">Prev</button>
        <button mat-button matStepperNext i18n="@@next">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel i18n="@@verify">Verify</ng-template>
    <p i18n="@@registration_mail_comment">以下の内容でアカウント登録を行います。 </p>
    <!--    <p>confirm email address</p>-->
    <p><b>{{mailFormGroup.get('mail').value}}</b></p>
    <div>
      <button mat-button matStepperPrevious i18n="@@prev">Prev</button>
      <button mat-button (click)="registerUser()" i18n="@@register">Register</button>
      <button mat-button (click)="stepper.reset()" i18n="@@reset">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<button mat-button color="primary" routerLink="/">Login Page</button>
