<div class="main">
  <h1>ユーザ情報の変更 (ID: {{id}})</h1>
  <ng-container *ngIf="lock">
    <h3>現在、このユーザではグループ作成が許可されていません。</h3>
  </ng-container>
  <ng-container *ngIf="userInfo.status === 0">
    <h3>ユーザ情報の変更より、ユーザ情報の登録をお願いいたします。</h3>
    <p>この手続きを行わない場合は、各種申請・手続きができません。</p>
  </ng-container>
  <ng-container *ngIf="!lock">
    <mat-card class="card">
      <mat-card-subtitle>
        <b>Name: {{userInfo.name}}&nbsp;&nbsp;&nbsp;ID: {{id}}&nbsp;&nbsp;&nbsp;GID: {{userInfo.group_id}}</b>
      </mat-card-subtitle>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="ユーザ情報一覧">
        <br>
        <table>
          <tr>
            <th colspan="2">ユーザ情報</th>
          </tr>
          <tr>
            <th>名前</th>
            <td>{{userInfo.name}}</td>
          </tr>
          <tr>
            <th>名前(English)</th>
            <td>{{userInfo.name_en}}</td>
          </tr>
          <tr>
            <th>Email address</th>
            <td>{{userInfo.email}}</td>
          </tr>
          <tr>
            <th>メール認証</th>
            <td>{{userInfo.mail_verify}}</td>
          </tr>
          <tr>
            <th>User Level</th>
            <td>{{userInfo.level}}</td>
          </tr>
        </table>
        <br>
      </mat-tab>
      <mat-tab label="メールアドレスの変更" *ngIf="userInfo.group_id !==0">
        <br>
        <mat-form-field appearance="fill" [style.width.px]=700>
          <mat-label>E-Mail address</mat-label>
          <input matInput [type]="hide ? 'email' : 'text'" [formControl]="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" [style.width.px]=700>
          <mat-label>E-Mail address(確認用)</mat-label>
          <input matInput [type]="hide ? 'email' : 'text'" [formControl]="emailVerify">
        </mat-form-field>
        <br>
        <button mat-stroked-button color="primary" (click)="changeMail()">Update</button>
      </mat-tab>
      <mat-tab label="パスワードの変更" *ngIf="userInfo.group_id !==0">
        <br>
        <mat-form-field appearance="fill" [style.width.px]=500>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" [style.width.px]=500>
          <mat-label>Password Verify</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordVerify">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-stroked-button color="primary" (click)="changePass()">Update</button>
        <br>
      </mat-tab>
      <mat-tab label="ユーザ情報の変更">
        <p>ユーザ情報を変更したい箇所のみ記入してください。</p>
        <p><b *ngIf="userInfo.group_id ===0">必須項目は必ず埋めてください</b></p>
        <form [formGroup]="user">
          <mat-form-field appearance="fill">
            <mat-label>名前</mat-label>
            <input matInput [type]="hide ? 'name' : 'text'" formControlName="name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>名前(English)</mat-label>
            <input matInput [type]="hide ? 'name_en' : 'text'" formControlName="name_en">
          </mat-form-field>
          <br>
        </form>
        <button mat-stroked-button color="primary" (click)="changeInfo()">Update</button>
        <br>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
