.main {
  margin-left: 30px;
  margin-top: 20px;
}

.checkbox {
  margin: 0 12px;
}

.textarea-form {
  min-width: 400px;
  max-width: 1000px;
  width: 100%;
}


.full-width {
  width: 90%;
}

.large-width {
  width: 80%;
}

.small-width {
  width: 30%;
}
