<mat-card class="card">
  <mat-card-subtitle>
    <b>Name: {{userInfo.name}}&nbsp;&nbsp;&nbsp;ID: {{userInfo.ID}}&nbsp;&nbsp;&nbsp;GID: {{userInfo.group_id}}</b>
  </mat-card-subtitle>
</mat-card>
<ng-container *ngIf="lock && userInfo.group_id != 0">
  <h2>登録情報の設定と変更</h2>
  <mat-label>ご利用者様（ユーザ情報）とご所属（グループ情報）の設定と変更が行えます。</mat-label>
</ng-container>
<ng-container *ngIf="userInfo.group_id == 0">
  <h2>Webシステムご利用前に、下記のユーザ情報の設定欄から記入お願いします。</h2>
</ng-container>
<mat-tab-group>
  <mat-tab label="ユーザ情報の設定">
    <ng-template matTabContent>
      <br>
      <ng-container *ngIf="!lock">
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>メールアドレスの変更</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Email address</mat-label>
              <input matInput [type]="hide ? 'email' : 'text'" [formControl]="email">
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" (click)="changeMail()">Update</button>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>パスワードの変更</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Password Verify</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordVerify">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" (click)="changePass()">Update</button>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </ng-container>
      <mat-accordion>
        <mat-expansion-panel class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>ユーザ情報の設定</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>組織名</mat-label>
            <input matInput [type]="hide ? 'org' : 'text'" [formControl]="org">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>組織名(English)</mat-label>
            <input matInput [type]="hide ? 'org_en' : 'text'" [formControl]="orgEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>郵便番号</mat-label>
            <input matInput [type]="hide ? 'postcode' : 'text'" [formControl]="postcode">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>住所</mat-label>
            <input matInput [type]="hide ? 'address' : 'text'" [formControl]="address">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>住所(English)</mat-label>
            <input matInput [type]="hide ? 'addressEn' : 'text'" [formControl]="addressEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>部署名</mat-label>
            <input matInput [type]="hide ? 'dept' : 'text'" [formControl]="dept">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>部署名(English)</mat-label>
            <input matInput [type]="hide ? 'deptEn' : 'text'" [formControl]="deptEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>役職</mat-label>
            <input matInput [type]="hide ? 'pos' : 'text'" [formControl]="pos">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>役職(English)</mat-label>
            <input matInput [type]="hide ? 'posEn' : 'text'" [formControl]="posEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>電話番号</mat-label>
            <input matInput [type]="hide ? 'tel' : 'text'" [formControl]="tel">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>FAX番号</mat-label>
            <input matInput [type]="hide ? 'fax' : 'text'" [formControl]="fax">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>居住国</mat-label>
            <input matInput [type]="hide ? 'country' : 'text'" [formControl]="country">
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="changeInfo()">Update</button>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </ng-template>
  </mat-tab>
  <mat-tab label="ユーザ情報">
    <br>
    <div class="main">
      <table>
        <tr>
          <th colspan="2">ユーザ情報</th>
        </tr>
        <tr>
          <th>ユーザ作成日</th>
          <td>{{userInfo.CreatedAt}}</td>
        </tr>
        <tr>
          <th>ユーザ情報の最終更新日</th>
          <td>{{userInfo.UpdatedAt}}</td>
        </tr>
        <tr>
          <th>名前</th>
          <td>{{userInfo.name}}</td>
        </tr>
        <tr>
          <th>名前(English)</th>
          <td>{{userInfo.name_en}}</td>
        </tr>
        <tr>
          <th>Email address</th>
          <td>{{userInfo.email}}</td>
        </tr>
        <tr>
          <th>組織名</th>
          <td>{{userInfo.org}}</td>
        </tr>
        <tr>
          <th>組織名(English)</th>
          <td>{{userInfo.org_en}}</td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>{{userInfo.postcode}}</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>{{userInfo.address}}</td>
        </tr>
        <tr>
          <th>住所(English)</th>
          <td>{{userInfo.address_en}}</td>
        </tr>
        <tr>
          <th>部署名</th>
          <td>{{userInfo.dept}}</td>
        </tr>
        <tr>
          <th>部署名(English)</th>
          <td>{{userInfo.dept_en}}</td>
        </tr>
        <tr>
          <th>役職</th>
          <td>{{userInfo.pos}}</td>
        </tr>
        <tr>
          <th>役職(English)</th>
          <td>{{userInfo.pos_en}}</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>{{userInfo.tel}}</td>
        </tr>
        <tr>
        <tr>
          <th>FAX番号</th>
          <td>{{userInfo.fax}}</td>
        </tr>
        <tr>
          <th>居住国</th>
          <td>{{userInfo.country}}</td>
        </tr>
        <tr>
          <th>User Status</th>
          <td>{{userInfo.status}}</td>
        </tr>
        <tr>
          <th>User Level</th>
          <td>{{userInfo.level}}</td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <ng-container *ngIf="userInfo.group_id != 0">
    <mat-tab label="グループ情報の設定">
      <br>
      <mat-accordion>
        <mat-expansion-panel class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>ユーザの追加</mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="group">
            <mat-form-field>
              <input class="full-width" matInput placeholder="Email address" type="text" formControlName="email"/>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input class="full-width" matInput placeholder="名前" type="text" formControlName="name"/>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input class="full-width" matInput placeholder="名前(English)" type="text" formControlName="nameEn"/>
            </mat-form-field>
          </form>
          <br>
          <button mat-stroked-button color="primary" (click)="addEmail()">Update</button>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </mat-tab>
    <mat-tab label="グループ情報">
      <br>
      <div class="main">
        <table>
          <tr>
            <th colspan="2">グループ情報</th>
          </tr>
          <tr>
            <th>ID</th>
            <td>{{groupInfo.ID}}</td>
          </tr>
          <tr>
            <th>User Create Date</th>
            <td>{{groupInfo.CreatedAt}}</td>
          </tr>
          <tr>
            <th>User Update Date</th>
            <td>{{groupInfo.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{userInfo.status}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
