<mat-card class="card">
  <mat-card-subtitle>
    <b>Name: {{userInfo.name}}&nbsp;&nbsp;&nbsp;ID: {{userInfo.ID}}&nbsp;&nbsp;&nbsp;GID: {{userInfo.gid}}</b>
  </mat-card-subtitle>
</mat-card>
<ng-container *ngIf="lock">
  <h2>Please tell me about your information.</h2>
</ng-container>
<mat-tab-group>
  <mat-tab label="User setting">
    <ng-template matTabContent>
      <br>
      <ng-container *ngIf="!lock">
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>Change E-Mail Address</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>email address</mat-label>
              <input matInput [type]="hide ? 'email' : 'text'" [formControl]="email">
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" (click)="changeMail()">Update</button>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>Change Password</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Password Verify</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordVerify">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <button mat-stroked-button color="primary" (click)="changePass()">Update</button>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </ng-container>
      <mat-accordion>
        <mat-expansion-panel class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>Change Info</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Org</mat-label>
            <input matInput [type]="hide ? 'org' : 'text'" [formControl]="org">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>OrgEn</mat-label>
            <input matInput [type]="hide ? 'org_en' : 'text'" [formControl]="orgEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>PostCode</mat-label>
            <input matInput [type]="hide ? 'postcode' : 'text'" [formControl]="postcode">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput [type]="hide ? 'address' : 'text'" [formControl]="address">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Address(English)</mat-label>
            <input matInput [type]="hide ? 'addressEn' : 'text'" [formControl]="addressEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput [type]="hide ? 'dept' : 'text'" [formControl]="dept">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Department(English)</mat-label>
            <input matInput [type]="hide ? 'deptEn' : 'text'" [formControl]="deptEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Position</mat-label>
            <input matInput [type]="hide ? 'pos' : 'text'" [formControl]="pos">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Position(English)</mat-label>
            <input matInput [type]="hide ? 'posEn' : 'text'" [formControl]="posEn">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Tel</mat-label>
            <input matInput [type]="hide ? 'tel' : 'text'" [formControl]="tel">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Fax</mat-label>
            <input matInput [type]="hide ? 'fax' : 'text'" [formControl]="fax">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput [type]="hide ? 'country' : 'text'" [formControl]="country">
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="changeInfo()">Update</button>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </ng-template>
  </mat-tab>
  <mat-tab label="User Information">
    <br>
    <div class="main">
      <table>
        <tr>
          <th colspan="2">User Information</th>
        </tr>
        <tr>
          <th>User Create Date</th>
          <td>{{userInfo.CreatedAt}}</td>
        </tr>
        <tr>
          <th>User Update Date</th>
          <td>{{userInfo.UpdatedAt}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{userInfo.name}}</td>
        </tr>
        <tr>
          <th>Name(English)</th>
          <td>{{userInfo.name_en}}</td>
        </tr>
        <tr>
          <th>E-Mail</th>
          <td>{{userInfo.email}}</td>
        </tr>
        <tr>
          <th>Org</th>
          <td>{{userInfo.org}}</td>
        </tr>
        <tr>
          <th>Org(English)</th>
          <td>{{userInfo.org_en}}</td>
        </tr>
        <tr>
          <th>PostCode</th>
          <td>{{userInfo.postcode}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{userInfo.address}}</td>
        </tr>
        <tr>
          <th>Address(English)</th>
          <td>{{userInfo.address_en}}</td>
        </tr>
        <tr>
          <th>Department</th>
          <td>{{userInfo.dept}}</td>
        </tr>
        <tr>
          <th>Department(English)</th>
          <td>{{userInfo.dept_en}}</td>
        </tr>
        <tr>
          <th>Position</th>
          <td>{{userInfo.pos}}</td>
        </tr>
        <tr>
          <th>Position(English)</th>
          <td>{{userInfo.pos_en}}</td>
        </tr>
        <tr>
          <th>Tel</th>
          <td>{{userInfo.tel}}</td>
        </tr>
        <tr>
        <tr>
          <th>Fax</th>
          <td>{{userInfo.fax}}</td>
        </tr>
        <tr>
          <th>Country</th>
          <td>{{userInfo.country}}</td>
        </tr>
        <tr>
          <th>User Status</th>
          <td>{{userInfo.status}}</td>
        </tr>
        <tr>
          <th>User Level</th>
          <td>{{userInfo.level}}</td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Group Setting">
    <br>
    <mat-accordion>
      <mat-expansion-panel class="card">
        <mat-expansion-panel-header>
          <mat-panel-title>Change E-Mail Address</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="group">
          <mat-form-field>
            <input class="full-width" matInput placeholder="E-Mail Address" type="text" formControlName="email"/>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <input class="full-width" matInput placeholder="Name(Japanese)" type="text" formControlName="name"/>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <input class="full-width" matInput placeholder="Name(English)" type="text" formControlName="nameEn"/>
          </mat-form-field>
        </form>
        <br>
        <button mat-stroked-button color="primary" (click)="addEmail()">Update</button>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
  </mat-tab>
  <mat-tab label="Group Information">
    <br>
    <div class="main">
      <table>
        <tr>
          <th colspan="2">Group Information</th>
        </tr>
        <tr>
          <th>ID</th>
          <td>{{groupInfo.ID}}</td>
        </tr>
        <tr>
          <th>User Create Date</th>
          <td>{{groupInfo.CreatedAt}}</td>
        </tr>
        <tr>
          <th>User Update Date</th>
          <td>{{groupInfo.UpdatedAt}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{userInfo.status}}</td>
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
