<mat-card class="card">
  <mat-card-subtitle>Name: {{name}}</mat-card-subtitle>
</mat-card>
<h3 class="left"><b>This page has not been tested.</b></h3>
<mat-tab-group>
  <mat-tab label="User setting">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-expansion-panel class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>Change email address</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>email address</mat-label>
            <input matInput [type]="hide ? 'email' : 'text'" [formControl]="email">
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="changeMail()">Update</button>
          <br>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="card">
          <mat-expansion-panel-header>
            <mat-panel-title>Change password</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>pass</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>pass verify</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordVerify">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" (click)="changePass()">Update</button>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-tab>
</mat-tab-group>
