<div class="main">
  <ng-container *ngIf="lock">
    <h1>We are currently checking.</h1>
    <br>
    <br>
    <p><b>It may take some time.</b></p>
    <br><br>
  </ng-container>
  <ng-container *ngIf="!lock">
    <h1 class="post-title">実験ネットワーク利用規約</h1>

    <h3 id="section">第1章.用語の定義</h3>
    <p>本規約において、次の用語はそれぞれ次の意味で使用します。</p>

    <ul>
      <li>利用希望者：当団体が提供する資源の利用を希望する個人または団体</li>
      <li>会員：当団体が提供する資源を利用する個人または団体</li>
      <li>資源：当団体が会員に対して提供する3章に定めるインターネット接続性や設備</li>
      <li>持ち込みアドレス：会員が直接割当を受けているグローバルASNまたはIPアドレス（もしくはその両方）</li>
    </ul>

    <h3 id="section-1">第2章.提供対象</h3>
    <p>
      ネットワーク技術に興味がある、当団体の活動に賛同する個人または団体であり、当団体の提供する資源を利用して何らかの実験や検証を行うなど明確な目的を持っている者を提供対象とします。なお、営利を目的とする利用については、これを認めません。</p>

    <h3 id="section-2">第3章.提供内容</h3>
    <p>当団体が提供する資源は下記の通りとします。</p>

    <ul>
      <li>トンネル経由によるIPv4によるインターネット接続の提供</li>
      <li>トンネル経由によるIPv6によるインターネット接続の提供</li>
      <li>仮想サーバ、物理サーバ、アプリケーションなどの実行環境</li>
    </ul>

    <h3 id="section-3">第4章.利用申込</h3>
    <p>当団体の提供する資源の利用希望者は、当団体の定める手続きに基づき、利用（入会）申込書を提出して頂きます。利用（入会）申込書の提出をもって、利用希望者は当団体の会則及び本規則の内容を承諾したものとみなします。</p>

    <h3 id="section-4">第5章.利用の承諾と拒絶</h3>
    <p>当団体は、提出された利用（入会）申込書の内容について審議を行い、利用（入会）の可否を1ヶ月以内に回答するものとします。下記に該当する場合は、利用の申込を拒絶する場合があります。</p>

    <ul>
      <li>利用希望者が申込書に虚偽の内容を記載したとき</li>
      <li>利用を承諾することにより、当団体の設備、他の会員、第三者に悪影響を与えると判断したとき</li>
      <li>利用希望者が希望する資源の提供が技術的に困難なとき</li>
      <li>その他、当団体が不適切と認めたとき</li>
    </ul>

    <h3 id="section-5">5-1.利用の拒絶</h3>
    <p>利用の申込を拒絶した場合は、当団体は利用希望者に対して、その旨と拒絶理由を通知するものとします。</p>

    <h3 id="section-6">5-2.利用の承諾と書面の交付</h3>
    <p>利用の申込を承諾した場合は、当団体は利用希望者に対して、電気通信事業法 第26条2（書面の交付義務）に基づき、契約書面を交付するものとします。</p>

    <h3 id="section-7">第6章.資源の割当及び変更</h3>
    <p>当団体は利用申込及び当団体の割当ポリシーに基づき、必要な資源を割り当てます。<br/>
      なお、運用上の都合等により、ご利用いただく資源の変更を行うことがあります。</p>

    <p>会員がIPアドレスの利用を希望する場合は、以下の6-1項より6-5項に同意する必要があるものとします。</p>

    <h3 id="section-8">6-1.申請する空間</h3>
    <p>会員はIPアドレスが有限な資源であることを十分に理解し、必要最低限のIPアドレスを申請するものとします。</p>

    <h3 id="section-9">6-2.利用率</h3>
    <p>
      会員がIPv4アドレスの割り当てを申請する場合は、一般社団法人日本ネットワークインフォメーションセンター（JPNIC）の定めた利用率を満たしている必要があります。JPNICの定めた利用率とは割り当て直後(3カ月以内)に25%以上、
      かつ割り当て後1年以内に50%以上となり、以下の数式により算出するものとします。</p>

    <div class="highlighter-rouge"><pre class="highlight"><code>                   割り当てられた空間の中からホスト等に
                         割り当てているアドレス数の合計
    利用率 = -----------------------------------------------  ×100
                割り当てられた空間の大きさ － サブネット数 × 2
</code></pre>
    </div>

    <h3 id="section-10">6-3.審議</h3>
    <p>
      当団体は提出されたIPアドレス申請書の内容を審議した上で割り当てる空間サイズを決定します。当団体は審議に於いて会員に追加の情報提供を求める場合があります。追加の情報提供要請を受けた場合、会員は速やかに必要な情報を提示するものとします。</p>

    <h3 id="section-11">6-4.情報の提供</h3>
    <p>
      本団体は、IPアドレス割当申請書にご記入頂いた情報の一部を一般社団法人日本ネットワークインフォメーションセンター（JPNIC）へ提供します。JPNICは提供された情報を「JPNICのIPアドレス割り当て管理業務における情報の取り扱い等に関する規則」に従って取り扱い、利用します。
      <a href="https://www.nic.ad.jp/doc/jpnic-00998.html">JPNICのIPアドレスアドレス割り当てアドレス割り当て管理業務に関する関する規則</a></p>

    <h3 id="section-12">6-5.情報の公開</h3>
    <p>本団体よりJPNICへ提供された情報は、WHOISデータベースに登録され、一部は一般公開されます。
      公開される情報はJPNICの「公開・開示対象情報一覧」に定められております。
      <a href="https://www.nic.ad.jp/doc/jpnic-01207.html">公開・開示対象情報一覧</a></p>

    <h2 id="section-13">第7章.持ち込みアドレスの利用</h2>
    <p>会員がグローバルASNまたはIPアドレス（もしくはその両方）の割り当てを受けている場合、会員はそれらを利用して当団体と接続できるものとします。</p>

    <h3 id="section-14">7-1.利用する持ち込みアドレス</h3>
    <p>持ち込みアドレスは各国を管轄するRIRまたはNIRより会員自身が正規の割り当てを受けたものである必要があります。<br/>
      会員以外の第三者が割り当てを受けた持ち込みアドレスを利用する場合は、会員はそれらを利用する権利が会員にあることを証明する書面を当団体の定める様式にて提出するものとします。</p>

    <h3 id="section-15">7-2.公開データベースへの登録</h3>
    <p>会員は持ち込みアドレスに関する情報を公開データベース（IRRとwhoisを指します）に登録し、会員自らの責任において常に最新の情報を維持するものとします。</p>

    <h3 id="section-16">7-3.第三者への経路広報</h3>
    <p>会員が当団体とBGPで接続している場合、当団体より受信した経路の一部もしくは全部を会員以外のグローバルASNを利用する第三者に広報する場合、予め当団体の許可を得るものとします。</p>

    <h3 id="section-17">第8章.利用開始</h3>
    <p>会員は資源の割当を受けた日より3ヶ月以内に資源の利用を開始するものとします。<br/>
      3ヶ月以内に当団体の割当てた資源の利用が確認されない場合は、当団体は会員に資源の返却を求めることができるものとします。正当な理由があり、当団体と会員の間で合意が成立している場合は上記の限りではありません。</p>

    <h3 id="section-18">第9章.技術的仕様</h3>
    <p>当団体の提供する資源の技術的仕様は別途定めるものとします。<br/>
      仕様外の方式での資源の提供を行う場合は事前に、会員と当団体の間で十分な協議を行った上で実施するものとします。</p>

    <h3 id="section-19">第10章.禁止事項</h3>
    <p>以下の何れかに該当する事項を行ってはならないものとします。</p>

    <ul>
      <li>違法、不当、公序良俗に反する態様において、当団体が提供する資源を利用する行為</li>
      <li>当団体の設備又は他の利用者に対して、悪影響を与える行為</li>
      <li>営利を目的とした利用 ※</li>
      <li>当団体が提供する資源の第三者への又貸し行為</li>
      <li>その他、当団体が不適切と判断する行為</li>
    </ul>

    <p>※営利とは当団体が提供する資源を利用して会員が第三者に対してサービスを提供し対価として金銭を収受する行為をさします。アフリエイト広告の掲載など営利に該当するか判断に迷う場合は事前にご相談下さい。</p>

    <p>会員が第7章に該当する場合は、上記の他に以下の事項を行ってはならないとします。ただし、第7章7-3項に定める通り当団体の許可を得た場合は除きます。</p>

    <ul>
      <li>会員が当団体とBGPで接続している場合、当団体より受信した経路を会員以外の第三者に広報する行為</li>
      <li>会員が接続する当団体以外のグローバルASより発生したトラヒックを当団体を経由し他のASに転送する行為</li>
    </ul>

    <p>会員は当団体及び第三者より本禁止事項に該当する行為が行われているとの指摘があった場合は、禁止事項に該当する状態の調査及び解消に対して協力する義務を負うものとします。</p>

    <p>禁止事項に該当する状態が一定期間解消されない場合や、調査及び解消に対して協力頂けない場合は、当団体は資源の提供を中止の上、会員の除名を行うことが出来るものとします。
      緊急の場合は、一定期間を置かず即時資源の提供を中止する場合があります。</p>

    <h3 id="section-20">第11章.提供の終了</h3>
    <p>会員は当団体の指定する手続きにより、当団体の提供する資源の利用を終了することができます。会員は利用終了後、当団体の提供する資源を速やかに返却するものとします。</p>

    <h3 id="section-21">第12章.提供の停止</h3>
    <p>
      当団体は、機器のメンテナンス及び仕様の変更、施設の停電、その他によりネットワーク機器を停止する場合があります。その場合は1週間前を目安としてWebサイト及びに電子メールにて会員に事前に通知します。ただし、緊急やむを得ないときは、この限りではありません。</p>

    <h3 id="section-22">第13章.利用に必要な資源の準備</h3>
    <p>当団体の提供する資源の利用にあたって必要となる機材や回線は、会員側で準備するものとします。</p>

    <h3 id="section-23">第14章.サポートの提供</h3>
    <p>
      当団体の提供する資源のサポートは原則としてWebサイト及び電子メール、又は当団体の定める電子的な方法により行うものとします。技術サポートに関してはベストエフォートの対応とさせて頂き、問題の解決などについてを確約するものでありません。<br/>
      また、会員は当団体の活動の目的を理解し、問題の解決に向けて各種ログの採取などの協力を行うものとします。</p>

    <h3 id="section-24">第15章.情報公開</h3>
    <p>当団体は活動の目的を達成するため、会員個人を特定出来ない範囲で各種情報（トラフィック等）を収集の上、対外発表や公開を行う場合があります。<br/>
      その他、技術情報の公開や対外発表などに関して、会員に協力を依頼する場合があります。<br/>
      協力依頼は会員に対して協力を強制するものではありません。</p>

    <h3 id="section-25">第16章.利用料金</h3>
    <p>当団体の提供する資源の利用料金は原則無料とします。</p>

    <h3 id="section-26">第17章.免責事項</h3>
    <p>当団体は、原因の如何に関わらず、当団体の提供する資源の利用によって会員側に生じたいかなる損害に関しても一切保証しないものとします。</p>

    <h3 id="section-27">第18章.本規則に定め無き事項</h3>
    <p>本規約に定めなき事項が生じた場合は、会員および当団体は、本規約の趣旨と当団体の活動目的に従い、誠意をもって協議の上、解決に当たるものとします。</p>

    <h3 id="section-28">第19章.個人情報保護</h3>
    <p>当団体は、利用者の個人情報を以下の利用目的の範囲内において取り扱うものとします。</p>

    <ul>
      <li>当団体が会員に対してネットワークを提供するために必要な業務を行う場合</li>
      <li>当団体の目的を達成する為に、会員に対して対外発表や技術情報の公開などの協力を依頼する場合</li>
      <li>その他利用者から得た同意の範囲内で利用する場合</li>
    </ul>

    <p>上記に関わらず、警察、裁判所など法律上照会権限を有する者から照会を受けた場合、法令に基づき必要と認められる範囲内で個人情報等の照会に応じることがあります。</p>

    <h3 id="section-29">第20章.利用規約の変更</h3>
    <p>
      当団体が必要と判断した場合には、会員にあらかじめ通知することなくいつでも本利用規約を変更することができるものとします。ただし、当団体が提供する設備等をご利用いただいている会員に大きな影響を与えることが予想される場合には、あらかじめ合理的な事前告知期間を設けるものとします。</p>

    <p>本規則は2015年1月5日から施行します。<br/>
      2015年11月30日改定　（第6章にIPアドレス割当に関する条項を追記)<br/>
      2017年04月15日改定　（持ち込みアドレスの利用に関する条項、電気通信事業法による書面の交付を追加)</p>
    <br>
    <br>
    <section>
      <mat-checkbox [(ngModel)]="agree">Do you agree this terms of use ?</mat-checkbox>
    </section>
    <br>
    <div class="button">
      <button mat-raised-button color="warn" (click)="requestTerm(false)">Disagree</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="requestTerm(true)" [disabled]="agree == false">Agree</button>
    </div>
    <br>
    <br>
    <br>
  </ng-container>
</div>
