<!--<ng-container *ngFor="let d of data">-->
<h2>Welcome, {{name}}</h2>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Release Now...</mat-card-title>
    <mat-card-subtitle>2020/07/05 ~</mat-card-subtitle>
    <mat-card-subtitle>
      <mat-chip-list>
        <ng-container>
          <mat-chip color="primary" selected>Everyone</mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This service is release version.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Testing Now...</mat-card-title>
    <mat-card-subtitle>2020/06/06 ~</mat-card-subtitle>
    <mat-card-subtitle>
      <mat-chip-list>
        <ng-container>
          <mat-chip color="primary" selected>Everyone</mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This service is alpha version.
    </p>
  </mat-card-content>
</mat-card>
<!--</ng-container>-->

