<div class="main">
  <ng-container *ngIf="result">
    <ng-container *ngFor="let d of info">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{d.service_id}}</mat-card-title>
          <mat-card-subtitle>AS{{d.asn}}</mat-card-subtitle>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <br><br>
          <table border="1">
            <tr>
              <th>IPv4</th>
            </tr>
            <tr *ngFor="let ip of d.v4">
              <td>{{ ip }}</td>
            </tr>
          </table>
          <br>
          <table border="1">
            <tr>
              <th>IPv6</th>
            </tr>
            <tr *ngFor="let ip of d.v6">
              <td>{{ ip }}</td>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th colspan="2">契約内容</th>
            </tr>
            <tr>
              <th>サービス種別</th>
              <td>{{d.service}}</td>
            </tr>
            <tr>
              <th>ユーザID</th>
              <td>{{d.user_id}}</td>
            </tr>
            <tr>
              <th>利用料金</th>
              <td>{{d.fee}}</td>
            </tr>
            <tr>
              <th>当団体からのIPアドレスの割当</th>
              <td>{{d.assign}}</td>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th colspan="3">接続情報</th>
            </tr>
            <tr>
              <th>接続方式</th>
              <td colspan="2">{{d.service}}</td>
            </tr>
            <tr>
              <th>接続NOC</th>
              <td colspan="2">{{d.noc}}</td>
            </tr>
            <tr>
              <th>トンネル終端アドレス（貴団体側）</th>
              <td colspan="2">{{d.term_ip}}</td>
            </tr>
            <tr>
              <th>トンネル終端アドレス（当団体側）</th>
              <td colspan="2">{{d.noc_ip}}</td>
            </tr>
            <tr>
              <th colspan="3">当団体との間の境界アドレス</th>
            </tr>
            <tr>
              <th></th>
              <th>IPv4アドレス</th>
              <th>IPv6アドレス</th>
            </tr>
            <tr>
              <th>当団体側</th>
              <td>{{d.link_v4_our}}</td>
              <td>{{d.link_v6_our}}</td>
            </tr>
            <tr>
              <th>貴団体側</th>
              <td>{{d.link_v4_your}}</td>
              <td>{{d.link_v6_your}}</td>
            </tr>
          </table>
          <br><br>
          <p><b>本ページは電気通信事業法 第26条2（書面の交付義務）に基づく書面となります。</b></p>
          <p><b>なお、郵送での書面交付をご希望頂いた方は、お送りします書面が正式書面となり、本画面の表示は参考情報となります。</b></p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!result">
    <h1>現在、開通している接続がありません。</h1>
    <br>
    <h2>内容</h2>
    <p><b>{{errorResult}}</b></p>
    <br>
    <br>
    <br>
    <h3>レスポンス情報</h3>
    <p>{{errorDetailJSON}}</p>
  </ng-container>
</div>
