<div class="main">
  <h2>1.1. Advertise route from our organization</h2>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="route" name="" required>
    <mat-radio-button value="BGP IPv4 FullRoute">BGP IPv4 FullRoute</mat-radio-button>
    <br>
    <mat-radio-button value="BGP IPv6 FullRoute">BGP IPv6 FullRoute</mat-radio-button>
    <br>
    <mat-radio-button value="BGP IPv4 DefaultRoute">BGP IPv4 DefaultRoute</mat-radio-button>
    <br>
    <mat-radio-button value="BGP IPv6 DefaultRoute">BGP IPv6 DefaultRoute</mat-radio-button>
    <br>
    <mat-radio-button value="Other">Other</mat-radio-button>
    <br>
  </mat-radio-group>
  <form class="form" *ngIf="route === 'Other'">
    <br>
    <mat-form-field class="full-width">
      <label>
        <textarea matInput placeholder="Ex. static route other..." [formControl]="bgpEtc"></textarea>
      </label>
    </mat-form-field>
  </form>
  <br><br>
  <h2>1.2. IP Address</h2>
  <section>
    <mat-checkbox [(ngModel)]="pi">We have PI Address</mat-checkbox>
  </section>
  <br>
  <p>1セグメントずつ入力してください</p>
  <ng-container *ngIf="pi">
    <mat-form-field class="small-width">
      <mat-label>ASN</mat-label>
      <label>
        <input matInput placeholder="AS59105" [formControl]="asn">
      </label>
    </mat-form-field>
  </ng-container>
  <br><br>
  <h2>1.3. Preferred date period of use</h2>
  <form>
    <mat-form-field class="textarea-form">
      <textarea matInput rows="10" placeholder="Ex. It makes me feel..." [formControl]="date" required></textarea>
    </mat-form-field>
  </form>
  <br><br>

  <ng-container *ngIf="!pi">
    <h2>2.1. Assign IP address and Network Name</h2>
    <mat-checkbox [(ngModel)]="checkV4">Hope to assign IPv4 address</mat-checkbox>
    <form *ngIf="checkV4" [formGroup]="jpnicV4">
      <br>
      <mat-form-field class="small-width">
        <mat-label>IPv4 Network Name</mat-label>
        <label>
          <input matInput placeholder="Ex. HOMENOCV4" formControlName="name">
        </label>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field class="small-width">
        <mat-label>IPv4 Subnet</mat-label>
        <label>
          <input matInput placeholder="Ex. /x" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <br>
    <mat-checkbox [(ngModel)]="checkV6">Hope to assign IPv6 address</mat-checkbox>
    <form *ngIf="checkV6" [formGroup]="jpnicV6">
      <mat-form-field class="small-width">
        <mat-label>IPv6 Network Name</mat-label>
        <label>
          <input matInput placeholder="Ex. HOMENOCV6" formControlName="name">
        </label>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field class="small-width">
        <mat-label>IPv6 Subnet</mat-label>
        <label>
          <input matInput placeholder="Ex. /x" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <br><br>
    <h2>2.2. JPNIC Information</h2>
    <h3>Japanese</h3>
    <p><b>Please fill out the form in Japanese.</b></p>
    <form class="form" [formGroup]="jpnicJa">
      <mat-form-field class="large-width">
        <mat-label>Organization Name(Japanese)</mat-label>
        <label>
          <textarea matInput placeholder="Org" formControlName="org" required></textarea>
        </label>
      </mat-form-field>
      <mat-form-field class="large-width">
        <mat-label>Organization Postcode(Japanese)</mat-label>
        <label>
          <textarea matInput placeholder="Postcode" formControlName="postcode" required></textarea>
        </label>
      </mat-form-field>
      <mat-form-field class="large-width">
        <mat-label>Organization Address(Japanese)</mat-label>
        <label>
          <textarea matInput placeholder="Address" formControlName="address" required></textarea>
        </label>
      </mat-form-field>
    </form>
    <h3>English</h3>
    <p><b>Please fill out the form in English.</b></p>
    <form class="form" [formGroup]="jpnicEn">
      <mat-form-field class="large-width">
        <mat-label>Organization Name(English)</mat-label>
        <label>
          <textarea matInput placeholder="org(English)" formControlName="org" required></textarea>
        </label>
      </mat-form-field>
      <mat-form-field class="large-width">
        <mat-label>Organization Address(English)</mat-label>
        <label>
          <textarea matInput placeholder="Address(English)" formControlName="address" required></textarea>
        </label>
      </mat-form-field>
    </form>
    <br><br>
    <h2>2.3. Operations Staff</h2>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="admin" name="">
      <ng-template *ngIf="user !==null">
        <ng-template *ngFor="let u of user.data">
          <mat-radio-button value="{{u.ID}}">{{u.ID}}: {{u.name}}</mat-radio-button>
          <br>
        </ng-template>
      </ng-template>
    </mat-radio-group>
    <br><br>
    <h2>2.4. Technical Staff</h2>
    <ng-template *ngIf="user !==null">
      <ng-template *ngFor="let u of user.data">
        <mat-checkbox [(ngModel)]="u.select">{{u.ID}}: {{u.name}}</mat-checkbox>
      </ng-template>
    </ng-template>
    <br><br>
    <h2>2.5. IPv4 Network Plan</h2>
    <form>
      <mat-form-field class=" textarea-form">
        <textarea matInput rows="30" placeholder="Ex. It makes me feel..." [formControl]="plan" required></textarea>
      </mat-form-field>
    </form>
    <br><br>
  </ng-container>
  <br>
  <button mat-button (click)="request()">Request</button>
  <br>
  <br>
  <br>
</div>
