<div class="main">
  <h2>1. IP address user</h2>
  <h3>Japanese</h3>
  <p><b>Please fill out the form in Japanese.</b></p>
  <form class="form" [formGroup]="base1_ja">
    <mat-form-field class="large-width">
      <mat-label>Address(Japanese)</mat-label>
      <label>
        <textarea matInput placeholder="Address" formControlName="address" required></textarea>
      </label>
    </mat-form-field>
    <mat-form-field class="large-width">
      <mat-label>Organization Name(Japanese)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="organization" required>
      </label>
    </mat-form-field>
    <mat-form-field class="large-width">
      <mat-label>Organization Name(Furigana)</mat-label>
      <label>
        <input matInput placeholder="1000 Kbps" value="" formControlName="organization_f" required>
      </label>
    </mat-form-field>
  </form>
  <h3>English</h3>
  <p><b>Please fill out the form in English.</b></p>
  <form class="form" [formGroup]="base1_en">
    <mat-form-field class="large-width">
      <mat-label>Address(English)</mat-label>
      <label>
        <textarea matInput placeholder="Address" formControlName="address" required></textarea>
      </label>
    </mat-form-field>
    <mat-form-field class="large-width">
      <mat-label>Organization Name(English)</mat-label>
      <label>
        <input matInput placeholder="EX) HomeNOC" value="" formControlName="organization" required>
      </label>
    </mat-form-field>
  </form>
  <br><br>
  <h2>2. Assign IP address and Network Name</h2>
  <mat-checkbox [(ngModel)]="base2V4Check">Hope to assign IPv4 address</mat-checkbox>
  <form *ngIf="base2V4Check">
    <br>
    <mat-form-field class="small-width">
      <mat-label>allocated v4 subnet</mat-label>
      <label>
        <input matInput placeholder="Ex. /x" [formControl]="base2V4">
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>IPv4 Network Name</mat-label>
      <label>
        <input matInput placeholder="Ex. HOMENOCV4" [formControl]="base2V4Name">
      </label>
    </mat-form-field>
  </form>
  <br>
  <mat-checkbox [(ngModel)]="base2V6Check">Hope to assign IPv6 address</mat-checkbox>
  <form *ngIf="base2V6Check">
    <mat-form-field class="small-width">
      <mat-label>allocated v6 subnet</mat-label>
      <label>
        <input matInput placeholder="Ex. /x" [formControl]="base2V6">
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>IPv6 Network Name</mat-label>
      <label>
        <input matInput placeholder="Ex. HOMENOCV6" [formControl]="base2V6Name">
      </label>
    </mat-form-field>
  </form>
  <br><br>
  <h2>3. Operations Staff</h2>
  <h3>Japanese</h3>
  <p><b>Please fill out the form in Japanese.</b></p>
  <form [formGroup]="base3_ja">
    <mat-form-field class="small-width">
      <mat-label>Name(japanese)/JPNIC Handles</mat-label>
      <label>
        <input matInput placeholder="Name" formControlName="name" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>Organization Name(japanese)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="organization" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>Postal Code</mat-label>
      <label>
        <input matInput placeholder="1000 Kbps" value="" formControlName="postalCode" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="large-width">
      <mat-label>Address(Japanese)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="address" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>Department/Affiliation(Japanese)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="department">
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>Official Position(Japanese)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="position">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>TEL</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="tel" required>
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>FAX</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="fax">
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>E-Mail</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="email" required>
      </label>
    </mat-form-field>
  </form>
  <form [formGroup]="base3_en">
    <h3>English</h3>
    <p><b>Please fill out the form in English.</b></p>
    <mat-form-field class="small-width">
      <mat-label>Name(English)/JPNIC Handles</mat-label>
      <label>
        <textarea matInput placeholder="Address" formControlName="address" required></textarea>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>Organization Name(English)</mat-label>
      <label>
        <input matInput placeholder="EX) HomeNOC" value="" formControlName="organization" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="large-width">
      <mat-label>Address(English)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="address" required>
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="small-width">
      <mat-label>Department/Affiliation(English)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="department">
      </label>
    </mat-form-field>
    <mat-form-field class="small-width">
      <mat-label>Official Position(English)</mat-label>
      <label>
        <input matInput placeholder="Ex) HomeNOC" value="" formControlName="position">
      </label>
    </mat-form-field>
  </form>
  <br><br>
  <h2>4. Technical Staff</h2>
  <mat-checkbox [(ngModel)]="base4Check">Same data as number 3</mat-checkbox>
  <ng-container *ngIf="base4Check ==false">
    <h3>Japanese</h3>
    <p><b>Please fill out the form in Japanese.</b></p>
    <form [formGroup]="base4_ja">
      <mat-form-field class="small-width">
        <mat-label>Name(japanese)/JPNIC Handles</mat-label>
        <label>
          <input matInput placeholder="Name" formControlName="name" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>Organization Name(japanese)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="organization" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>Postal Code</mat-label>
        <label>
          <input matInput placeholder="1000 Kbps" value="" formControlName="postalCode" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="large-width">
        <mat-label>Address(Japanese)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="address" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>Department/Affiliation(Japanese)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="department">
        </label>
      </mat-form-field>
      <mat-form-field class="small-width">
        <mat-label>Official Position(Japanese)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="position">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>TEL</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="tel" required>
        </label>
      </mat-form-field>
      <mat-form-field class="small-width">
        <mat-label>FAX</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="fax">
        </label>
      </mat-form-field>
      <mat-form-field class="small-width">
        <mat-label>E-Mail</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="email" required>
        </label>
      </mat-form-field>
    </form>
    <form [formGroup]="base4_en">
      <h3>English</h3>
      <p><b>Please fill out the form in English.</b></p>
      <mat-form-field class="small-width">
        <mat-label>Name(English)/JPNIC Handles</mat-label>
        <label>
          <textarea matInput placeholder="Address" formControlName="address" required></textarea>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>Organization Name(English)</mat-label>
        <label>
          <input matInput placeholder="EX) HomeNOC" value="" formControlName="organization" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="large-width">
        <mat-label>Address(English)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="address" required>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="small-width">
        <mat-label>Department/Affiliation(English)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="department">
        </label>
      </mat-form-field>
      <mat-form-field class="small-width">
        <mat-label>Official Position(English)</mat-label>
        <label>
          <input matInput placeholder="Ex) HomeNOC" value="" formControlName="position">
        </label>
      </mat-form-field>
    </form>
  </ng-container>
  <br>
  <br>
  <h2>5. IPv4 Network Plan</h2>
  <form>
    <mat-form-field class="large-width">
      <label>
        <textarea matInput rows="30" placeholder="Ex. HomeNOC" [formControl]="base5" required></textarea>
      </label>
    </mat-form-field>
  </form>
  <h3><b>Format</b></h3>
  <p>
    [Subnet Number1]<br>
    Purpose of use: <br>
    ----Use number of ip addresses----<br>
    immediately after contract : 4<br>
    immediately after half year : 5<br>
    immediately after one year : 6<br>
    ----Utilization rate of ip addresses----<br>
    * The utilization rate is calculated by including the network address and broadcast address.
    immediately after contract : 75%<br>
    immediately after half year : 87.5%<br>
    immediately after one year : 100%<br>
    ----Other----
    temporary connection :<br>
    <br>
    ----Device List----<br>
    device &nbsp;after contract/half year/one year<br>
    ----------------------------------------------<br>
    Router &nbsp;&nbsp; 1/1/1<br>
    FW &nbsp;&nbsp; 1/1/1<br>
    WebServer &nbsp;&nbsp; 1/2/2<br>
    MailServer &nbsp;&nbsp; 1/1/2<br>
    <br>
    ----------------------------------------------<br>
    total Device &nbsp;&nbsp;&nbsp;4/5/6<br>

  </p>
  <p><b>Please copy and complete the format for each subnet , if you use divided subnets of IPv4 address.</b></p>
  <p><b>According to JPNIC's rules, users must meet the following conditions.</b></p>
  <table border="1">
    <tr>
      <th>immediately after contract</th>
      <td>Over 25%</td>
    </tr>
    <tr>
      <th>immediately after half year</th>
      <td>Over 25%</td>
    </tr>
    <tr>
      <th>immediately after one year</th>
      <td>Over 50%</td>
    </tr>
  </table>
  <p>
    <b>How to calculate the utilization rate</b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number
    of IP addresses to be used<br>
    Utilization rate = ------------------------------------------------------------------------ x100<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Number
    of IP addresses to be allocated<br>
  </p>
  <br>
  <p><b>Please do not include private addresses in the utilization rate.</b></p>
  <p><b>temporary connection means that the always IP address is not used. (ex Assign IP Address by DHCP.</b></p>
  <p><b>The utilization rate is calculated by including the network address and broadcast address.</b></p>
  <br>
  <br>
  <section>
    <mat-checkbox [(ngModel)]="agree">Do you agree this terms of use ?</mat-checkbox>
  </section>
  <br>
  <button mat-button (click)="requestUserInfo()" [disabled]="agree == false">Request</button>
  <br>
  <br>
  <br>
</div>
