<mat-sidenav-container class="container">
  <mat-sidenav #sideNav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="notice" i18n="@@notice">お知らせ</a>
      <a mat-list-item *ngIf="open" routerLink="info" i18n="@@info">接続情報</a>
      <br>
      <a mat-list-item *ngIf="!open" routerLink="registration" i18n="@@registration">接続申込</a>
      <br>
      <br>
      <a mat-list-item *ngIf="registration" routerLink="support" i18n="@@registration">サポート</a>
      <a mat-list-item routerLink="procedure" style="font-size:10pt;" i18n="@@info">各種手続き</a>
      <a mat-list-item routerLink="bug" i18n="@@bug">バグ報告</a>
    </mat-nav-list>
    <br>
    <br>
    <p class="version"><b>version: 2.0a</b></p>
    <br>
    <br>
    <button mat-raised-button color="warn" class="button" (click)="this.authService.logOut()" i18n="@@logout">Logout
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
