<mat-sidenav-container class="container">
  <mat-sidenav #sideNav mode="side" opened>
    <!--    <mat-nav-list>-->
    <!--      <a mat-list-item routerLink="notice">お知らせ</a>-->
    <!--    </mat-nav-list>-->
    <ng-container>
      <mat-nav-list>
        <a mat-list-item *ngIf="notice" routerLink="notice" i18n="@@notice">Notice</a>
        <a mat-list-item *ngIf="request" routerLink="registration" i18n="@@registration">Request</a>
        <a mat-list-item *ngIf="info" routerLink="data" i18n="@@info">Info</a>
        <br>
        <a mat-list-item routerLink="setting" i18n="@@setting">Setting</a>

      </mat-nav-list>
      <br>
      <br>
      <p class="version"><b>version: 2.0a</b></p>
    </ng-container>
    <br>
    <br>
    <button mat-raised-button color="warn" class="button" (click)="this.authService.logOut()" i18n="@@logout">Logout
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
