.main {
  margin-left: 30px;
  margin-top: 20px;
}

.form {
  margin-left: 10px;
  min-width: 150px;
  max-width: 600px;
  width: 100%;

  .mat-radio-button {
    margin-bottom: 2px;
    margin-right: 10px;
  }

  .mat-checkbox {
    margin: 0 10px;
  }
}

.full-width {
  width: 90%;
}

.large-width {
  width: 80%;
}

.small-width {
  width: 30%;
}

.button {
  text-align: center;
  margin: 10px auto;
  width: 80%;
  max-width: 400px;
}

.textarea-form {
  min-width: 400px;
  max-width: 1000px;
  width: 100%;
}

.default {
  margin: 10px;
}

.radio {
  margin-right: 10px;
}
